.bg-light {
    background: white !important;
}

.bg-dark {
    background: #283E5B !important;
}

#header #form-ricerca {
    transform: translateY(-50%);
}

.navbar .nav-link {
    color: white !important;
    border: 2px solid #7091BE;
    background: #7091BE;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

#header {
    height: 650px;
    background: url('../img/background.png');
    background-position: 50% 60%;
    background-size: cover;
    position: relative;
}

#header:before {
    content: '';
    background: #7091BE;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
}

form label {
    text-transform:uppercase;
    font-size: 12px;
    padding-left: 5px;
}

#form-ricerca label {
    color: white;
}

input, select, button{
    border-radius: 0 !important;
    padding: 25px 15px !important;
}

input, select{
    border: 1px solid #eee !important;
}

button {
    padding: 14px 15px !important;
    background: #7091BE !important;
    border: 1px solid #7091BE !important;
    color: white;
}

button:hover, .navbar .nav-link:hover {
    background: #7876AE !important;
    border-color: #7876AE !important;

}

input[type=number] {
    height: 0px;
    width: 100%;
}

#logo {
    height: 50px;
}

.container-fluid {
    margin-bottom: -100px;
}

h2{
    color: #7091BE;
}

.promozione {
    background: #93A5B5;
    background-position: center center !important;
    background-size: cover !important;
    display: inline-block;
    height: 400px;
    width: 100%;
    position: relative;
}

.promozione:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #93A5B5;
    opacity: 0.3;
}

.promozione .volo {
    background: #7876AE;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
}

.promozione .volo .tratta {
    font-size: 25px;
    font-weight: 500;
}

.promozione .volo .prezzo {
    font-size: 20px;
    font-weight: 500;
}

.promozione .volo .prezzo strike {
    font-size: 15px;
    font-weight: 300;
}

#promozione {
    background: #7876AE;
}

#promozione a {
    color: white;
    background: #7876AE;
}

.error {
    color: #93A5B5;
}

.success {
    color: #7876AE;
}

.volo:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.volo .orario, .volo .prezzo{
    font-size: 20px;
    font-weight: 500;
}

.volo .prezzo-precedente {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}

.volo .data, .volo .totale{
    font-size: 13px;
}

.fas.fa-plane-departure, .fas.fa-plane-arrival {
    background: white;
    position:relative;
    color: #7876AE;
}

.flight-line {
    width: 100%;
    position: absolute;
    border-top:  1px solid #7876AE;
}

.navbar .profile-image {
    background: #7091BE;
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    text-align:center;
    margin-right: 5px;
}

.navbar .dropdown {
    display: inline-block;
}

.navbar .dropdown-menu {
    margin-top: 10px;
}

.btn .fa-plane-departure{
    background: none;
    color: white;
}

.tariffa {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ddd;
    vertical-align:bottom;
    color: #ddd;
    position: relative;
    cursor:pointer;
}

.tariffa .fas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    font-size: 50px;
    color: #ddd;
}

.tariffa.selected, .tariffa.selected .fas {
    color: #7876AE;
    border-color: #7876AE;
}

.tariffa:not(.selected):hover, .tariffa:not(.selected):hover .fas {
    color: #7091BE;
    border-color: #7091BE;
}

.tariffa.selected:before {
    content: '\f00c';
    position: absolute;
    top: 8px;
    right: 8px;
    background: #7876AE;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 100%;
    line-height: 20px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
}

#riepilogo {
    border-left: 1px solid #eee;
}

#riepilogo h3 {
    color: #7876AE;
}

.ui-datepicker-year, .ui-datepicker-month {
    padding: 0 !important;
}

.month_year_datepicker .ui-datepicker-calendar, .month_year_datepicker .ui-datepicker-current  {
    display: none;
}
.ui-datepicker-buttonpane button {
    background: #ddd!important;
    border: 1px solid #aaa !important;
    padding: 8px 15px !important;
    border-radius: 3px !important;
}

.fidelity-profile-image{
    background: #7876AE;
    color: white;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 95px;
    border-radius: 100%;
    text-align: center;
    margin-right: 5px;
    font-size: 60px;
}

/*
Colori della palette:
F5F4F6
93A5B5
7091BE
7876AE
283E5B
*/